.container {
  position: relative;
  width: 320px;
  height: 568px;
  margin: 0 auto;
  overflow: hidden;
}

.page-title {
  display: none;
}

.page-slogan {
  position: absolute;
  content: 'очень хороший слоган';
  top: 230px;
  left: -6%;
  transform: rotate(-90deg);
  z-index: 3;

  font-family: "Philosopher", "Arial", sans-serif;
  font-style: italic;
  font-weight: 400px;
  font-size: 9px;
  color: rgba(0, 0, 0, 0.5);
}

.img-wrapper {
  position: absolute;
  display: block;
  overflow: hidden;

  &--back {
    top: 83px;
    left: -44px;
    width: 280px;
    height: 184px;
  }

  &--front {
    top: 250px;
    right: -120px;
    width: 558px;
    height: 318px;
    z-index: 2;
  }
}

.slider {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  &--back {
    left: 0;
  }

  &--front {
    right: 0;
  }
}

.img-wrapper--back .opacity-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(247, 230, 17, 0.8);
}

.img-wrapper--front .opacity-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(247, 230, 17, 0.6);
}

.control-img-wrapper {
  position: absolute;
  top: 395px;
  right: 6%;
  width: 88%;
  z-index: 2;

  display: flex;
  justify-content: space-between;
}

.control-slider {
  cursor: pointer;

  &:hover svg {
    opacity: 0.2;
  }
}

.separator {
  position: absolute;
  width: 148px;
  height: 148px;
  top: 96px;
  right: -96px;
  transform: rotate(45deg);
  background-color: rgba(247, 230, 17, 1);

  &:before {
    position: absolute;
    content: '13_';
    bottom: 65px;
    left: 17px;
    transform: rotate(-45deg);

    font-family: "Geometria", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: black;
  }
}

@media (min-width: @tablet-width) {
  .container {
    width: 680px;
    display: flex;
    overflow: visible;
  }

  .page-title {
    position: absolute;
    display: block;
    top: 170px;
    left: 14%;
    z-index: 4;

    font-family: "Philosopher", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 85px;
    letter-spacing: 0.35em;
    color: rgba(255, 255, 255, 1);
  }

  .page-slogan {
    top: 270px;
    left: 16%;
  }

  .img-wrapper {
    position: absolute;
    height: auto;

    &--back {
      top: 97px;
      left: 0;
      width: 400px;
      height: 260px;
    }

    &--front {
      top: 144px;
      right: 0;
      width: 430px;
      height: 245px;
    }
  }

  .img-wrapper--back:after {
    position: absolute;
    content: 'тестовое задание';
    top: 150px;
    left: -20%;
    transform: rotate(-90deg);

    font-family: "Geometria", "Arial", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
  }

  .img-wrapper--front .opacity-wrapper {
    background-color: rgba(247, 230, 17, 0.8);
  }

  .control-img-wrapper {
    top: 300px;
    right: 13%;
    width: 125px;
    z-index: 3;
  }

  .control-slider svg {
    width: 15px;
    height: 30px;
  }

  .separator {
    position: relative;
    margin-top: -120px;
    width: 69px;
    height: 191px;
    top: 0;
    right: 0;
    transform: none;

    &:before {
      bottom: 17px;
      left: 15px;
      font-size: 22px;
      transform: none;
    }

    &:after {
      position: absolute;
      content: '7';
      bottom: 3px;
      left: 40px;

      font-family: "Geometria", "Arial", sans-serif;
      font-style: normal;
      font-weight: 800px;
      font-size: 8px;
      color: black;
    }
  }
}

@media (min-width: @desktop-small-width) {
  .container {
    width: 910px;
  }

  .page-title {
    top: 220px;
    left: 8%;
    font-size: 112px;
    line-height: 125px;
    letter-spacing: 0.32em;
  }

  .page-slogan {
    top: 395px;
    left: 12.5%;
  }

  .img-wrapper {
    &--back {
      width: 640px;
      height: 420px;
    }

    &--front {
      top: 184px;
      width: 688px;
      height: 390px;
    }
  }

  .img-wrapper--back:after {
    top: 250px;
    left: -14%;
  }

  .control-img-wrapper {
    top: 425px;
    right: 10%;
    width: 180px;
  }

  .control-slider svg {
    width: auto;
    height: auto;
  }

  .separator {
    margin-top: -185px;
    width: 120px;
    height: 306px;

    &:before {
      bottom: 30px;
      left: 25px;
      font-size: 38px;
    }

    &:after {
      bottom: 5px;
      left: 68px;
      font-size: 14px;
    }
  }
}

@media (min-width: @desktop-big-width) {
  .container {
    width: 1280px;
  }

  .page-title {
    top: 228px;
    left: 11.2%;
    font-size: 140px;
    line-height: 157px;
    letter-spacing: 0.36em;
  }

  .page-slogan {
    top: 475px;
    left: 15.8%;
  }

  .img-wrapper--back:after {
    top: 295px;
    left: -13%;
  }

  .control-img-wrapper {
    top: 485px;
    right: 12.5%;
    width: 215px;
  }

  .img-wrapper {
    &--back {
      width: 800px;
      height: 525px;
    }

    &--front {
      width: 860px;
      height: 490px;
    }
  }

  .separator {
    margin-top: -230px;
    width: 138px;
    height: 383px;

    &:before {
      bottom: 43px;
      left: 25px;
      font-size: 45px;
    }

    &:after {
      bottom: 12px;
      left: 76px;
      font-size: 17px;
    }
  }
}
